@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.button {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    border-radius: 4px !important;
  }
  .button--primary {
    color: white;
    background-color: #18569e;
  }
  .button--secondary {
    color: #6b7a99;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    border: 1px solid #D3D8E6;
  }
  .button--tertiary {
    color: gray;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    border: none;

  }

  .button--disabled-primary {
    background-color: #a3bbd8;
    border: none !important;
    box-shadow: none !important;
    color: rgba(255, 255, 255, 0.61);
    border-radius: 4px;
  }
  .button--disabled-secondary {
    background-color: transparent;
    border: 1px solid #D3D8E6 !important;
    box-shadow: none !important;
    color: #A2A9B8;
    border-radius: 4px;
  }
  .button--hover-primary:hover{
    background-color: #00468a;

  }
  .button--hover-secondary:hover{
    border: 1px solid #00468a;
    color: #00468a;
    background-color: #fff;
    
  }

  .button--small {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 25px;
    border-radius: 0px;
    border-radius: 4px;
  }
  .button--medium {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 25px;
    border-radius: 4px;
    border-radius: 0px;
  }
  .button--large {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 25px;
    border-radius: 0px;
    border-radius: 4px;
  }
  